@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Labrada:wght@500&display=swap");

#loader {
  /* margin-top: 20%; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid rgb(170, 37, 37);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: none;
  /* animation: rotation 2s infinite; */
}
#welcome {
  position: fixed;
  top: 45%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 45px;
  color: #f99417;
  font-family: "Labrada", serif;

  display: none;
}

@media (max-width: 900px) {
  #loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
  }
  #welcome {
    position: fixed;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 45px;
    color: #f99417;
    font-family: "Labrada", serif;

    display: none;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

/* NAVBAR */
.navbar {
  background: #03001c;
}
.navbar-brand {
  font-size: 40px !important;
  color: #e38b29 !important;
  padding: 30px;
  margin: 2px;
  font-weight: bold;

  border-radius: 30%;
}
.nav-item {
  margin: 0 60px 0 60px;
  font-size: 18px;
}
.nav-item .nav-link {
  color: white;
}

/* Name & Image */

.home {
  padding: 1%;
  margin-bottom: 3%;
}
.name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 55px;
  margin-top: 50%;
  text-align: left;
}
.info {
  font-size: 18px;
  text-align: left;
}
@media (max-width: 900px) {
  .name {
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    margin-top: 10%;
  }
  .name {
    text-align: center;
  }
  .info {
    text-align: center;
  }
  .navbar-brand {
    font-size: 30px !important;
    color: #e38b29 !important;
    padding: 30px;
    margin: 2px;
    font-weight: bold;

    border-radius: 30%;
  }
}
.ab {
  padding: 2.5%;
  border-radius: 50px 50px 50px 50px;
}
p {
  color: white;
}

/* Skills */
.skills {
  margin-top: 4.5%;
}
.skk {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  color: white;
  margin-bottom: 2.5%;
}

.imgsk {
  margin: 3%;
}
.psk {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

@media (max-width: 990px) {
  .info {
    text-align: center;
  }
  .name {
    text-align: center;
  }
  .flex-lg-row {
    align-items: center;
  }
}
