@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Labrada:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
#loader {
  /* margin-top: 20%; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid rgb(170, 37, 37);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: none;
  /* animation: rotation 2s infinite; */
}
#welcome {
  position: fixed;
  top: 45%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 25px;
  color: #f99417;
  font-family: "Labrada", serif;

  display: none;
}

@media (max-width: 900px) {
  #loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
  }
  #welcome {
    position: fixed;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 25px;
    color: #f99417;
    font-family: "Labrada", serif;

    display: none;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

.titles {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  color: white;
  margin-bottom: 3%;
  margin-top: 3%;
}
/* NAVBAR */
.navbar {
  /* background: #03001c; */
  background: #0f0e0e;
}
.navbar-brand {
  font-size: 25px !important;
  color: #e38b29 !important;
  padding: 25px;
  margin: 2px;
  font-weight: bold;
}
.nav-item {
  margin: 0 60px 0 60px;
  font-size: 16px;
  font-family: "Alkatra", cursive;
}
.nav-item .nav-link {
  color: white;
}

/* Name & Image */

.home {
  padding: 1%;
  height: 90vh;
  width: auto;
}
.name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 55px;
  margin-top: 20%;
  text-align: left;
}
.info {
  font-size: 25px;
  text-align: left;
}
@media (max-width: 900px) {
  .name {
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;

    margin-top: 30vh;
  }
  .name {
    text-align: center;
  }
  .info {
    text-align: center;

    font-size: 18px;
  }
  .navbar-brand {
    font-size: 20px !important;
    color: #e38b29 !important;
    padding: 25px;
    margin: 2px;
    font-weight: bold;

    border-radius: 30%;
  }
}
.ab {
  padding: 2.5%;
  border-radius: 50px 50px 50px 50px;
}
p {
  color: white;
}

/* Skills */
.skills {
  height: 90vh;
  margin-top: 8%;

  align-items: center;
  justify-content: center;
}

.imgsk {
  margin: 10%;
}
.psk {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

@media (max-width: 990px) {
  .info {
    text-align: center;
  }
  .name {
    text-align: center;
  }
  .flex-lg-row {
    align-items: center;
  }
  .imgsk {
    height: 32px;
    width: 27px;

    margin-bottom: 12%;
  }
  .psk {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
  }
  .titles {
    font-size: 22px;
  }
  .skills {
    margin-top: 20%;

    align-items: center;
    justify-content: center;
  }
}

/* Experience */
.experience {
  height: auto;
  margin-top: 8%;

  align-items: center;
  justify-content: center;
  text-align: center;
}
.imgex {
  float: left;
  margin: 1.5% 2% 1% 0;
}
.job {
  padding: 2% 27% 0 27%;
}
.pex {
  font-weight: bold;
  text-align: left;
  margin: 1.5% 2% 0% 2%;
}
.pexp {
  float: left;
  text-align: justify;
}
.desc {
  padding: 3% 27% 0 27%;
}

@media (max-width: 990px) {
  .experience {
    margin-top: 20%;
    align-items: center;
    justify-content: center;
  }
  .job {
    padding: 3% 5% 0 3%;
  }
  .imgex {
    float: left;
    height: 80px;
    width: 80px;
  }
  .pex {
    font-size: 15px;
    font-weight: bold;
  }
  .pexp {
    font-size: 15px;
    float: left;
  }
  .desc {
    padding: 3% 5% 0 3%;
  }
}

/* Projects and Certifications*/
.projcerti {
  text-align: left;
  color: white;
  display: inline-block;
}
.projcerti li {
  padding: 1% 0 1%;
}

@media (max-width: 990px) {
  .projcerti {
    text-align: left;
    color: white;
    float: left;
  }
}

/* Footer */
footer {
  background-color: #16213e;
}
footer li {
  list-style: none;
  font-family: "Alkatra", cursive;
  font-size: 16px;
  text-align: left;
  color: azure;
}
.icon {
  margin: 2.5% 5% 2.5% 8%;
}

.social1 {
  margin-right: 3px;
}
.social2 {
  margin-left: 3px;
}

@media (max-width: 990px) {
  footer li {
    list-style: none;
    font-family: "Alkatra", cursive;
    font-size: 12px;
    /* text-align: left; */
    color: azure;
  }
  .icon {
    margin: 2.5% 5% 2.5% 4%;
    height: 25px;
    width: 25px;
  }
  .contact {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .icon {
    margin: 2.7% 11% 2.7% 11%;
    height: 25px;
    width: 25px;
  }
  .contact {
    padding: 20px;
  }
}

@media (max-width: 900px) {
  .copyright {
    font-size: 12px;
  }
}
