@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Labrada:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");

/* Common */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #0f0e0e !important;
  color: white !important;
  /* font-family: "Comic Neue", cursive; */
}
#loader {
  /* margin-top: 20%; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid rgb(170, 37, 37);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: none;
  /* animation: rotation 2s infinite; */
}
#welcome {
  position: fixed;
  top: 45%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 25px;
  color: #f99417;
  font-family: "Labrada", serif !important;

  display: none;
}

@media (max-width: 900px) {
  #loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
  }
  #welcome {
    position: fixed;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 25px;
    color: #f99417;
    font-family: "Labrada", serif !important;

    display: none;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

.titles {
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 40px;
  margin-bottom: 3%;
  margin-top: 3%;
}

.dark-mode {
  background-color: white !important;
  color: black !important;
}
/* NAVBAR */
.navbar {
  /* background: #03001c; */
  background: #0f0e0e;
}
.navbar-brand {
  font-size: 25px !important;
  color: #e38b29 !important;
  padding: 5px;
  margin: 2px;
  font-weight: bold;
}
.nav-item {
  margin: 0 60px 0 60px;
  font-size: 16px;
  font-family: "Alkatra", cursive !important;
}
.nav-item .nav-link {
  color: white;
}

.navbar-toggler {
  width: 30px;
  height: 30px;
  margin-right: 10px;

  position: relative;
  transition: 0.5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}
.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  width: 100%;
  height: 2.5px;
  background: white;

  opacity: 1;
  left: 0;

  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.middle-bar {
  margin-top: 0px;
}
/*When navigation is clicked*/
.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}
/*When collapsed*/
.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

/* Name & Image */

.home {
  padding: 1%;
  min-height: 90vh;
  width: auto;
  border-radius: 0 0 10px 0;
  box-shadow: 5px 0 5px #ff6d28;
}
.name {
  font-family: "Josefin Sans", sans-serif !important;
  /* font-family: "Castoro Titling", cursive; */
  font-size: 70px;
  color: #e86a33;
  /* margin-top: 17%; */
  margin-top: 14%;
  text-align: justify;
}
.info {
  text-align: justify;
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif !important;
  padding: 10px;
  /* font-family: "Castoro Titling", cursive; */
}

.btn-warning {
  padding: 7px;
  margin: 1%;
  float: left;
  width: 15%;
}
@media (max-width: 900px) {
  .home {
    padding: 1%;
    height: fit-content;
    min-height: 90vh;
    width: auto;
    box-shadow: none;
    border-radius: none;
  }
  .name {
    font-size: 32px;
    text-align: center;
    margin-top: 32%;
  }

  .info {
    font-size: 17px;
    padding: 20px;
    text-align: justify;
    font-weight: normal;
  }
  .navbar-brand {
    font-size: 20px !important;
    color: #e38b29 !important;
    padding: 5px;
    margin: 2px;
    font-weight: bold;

    border-radius: 30%;
  }
  .btn-warning {
    padding: 7px;
    margin: 1%;
    width: auto;
  }
  .download_contact_buttons {
    display: grid;
    font-weight: bold;
  }
}

/* Skills */
.skills {
  min-height: 90vh;
  margin-top: 8%;

  align-items: center;
  justify-content: center;
  border-radius: 0 0 0 10px;
  box-shadow: -5px 5px 5px #f4d160;
}

.imgsk {
  margin: 10%;
}
.psk {
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 20px;
}

@media (max-width: 990px) {
  .name {
    text-align: center;
    font-weight: bold;
  }
  .flex-lg-row {
    align-items: center;
  }
  .imgsk {
    height: 32px;
    width: 27px;

    margin-bottom: 12%;
  }
  .psk {
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 14px;
  }
  .titles {
    font-size: 22px;
  }
  .skills {
    margin-top: 20%;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border-radius: none;
  }
}

/* Experience */

.experience {
  margin-top: 8%;

  align-items: center;
  justify-content: center;
  text-align: center;
  height: fit-content;
  /* border-radius: 0 0 10px 0;
  box-shadow: -5px 5px 5px #f4f2de; */
}
.imgex {
  float: left;
  margin: 1.5% 2% 1% 0;
}
.job {
  padding: 2% 27% 0 27%;
}
.pex {
  font-weight: bold;
  text-align: left;
  margin: 1.5% 2% 0% 2%;
}
.pexp {
  float: left;
  text-align: justify;
}
.desc {
  padding: 3% 27% 0 27%;
}

@media (max-width: 990px) {
  .experience {
    margin-top: 20%;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border-radius: none;
  }
  .job {
    padding: 3% 5% 0 3%;
  }
  .imgex {
    float: left;
    height: 80px;
    width: 80px;
  }
  .pex {
    font-size: 15px;
    font-weight: bold;
  }
  .pexp {
    font-size: 15px;
    float: left;
  }
  .desc {
    padding: 3% 5% 0 3%;
  }
}

/* Projects and Certifications*/
.projects {
  border-radius: 0 0 0 10px;
  box-shadow: -5px 5px 5px #b983ff;
}
.projcerti {
  text-align: justify;

  display: inline-block;
}
.projcerti li {
  padding: 0.5% 0 0.5%;
  text-align: justify;
}

@media (max-width: 990px) {
  .projects {
    box-shadow: none;
    border-radius: none;
  }
  .projcerti {
    text-align: left;

    float: left;
  }
  .proj-ul {
    font-size: 15px;
  }
  .proj-titles {
    font-size: 17px;
  }
}

/* Footer */
footer {
  background-color: #212a3e;
  margin: 0;
  padding: 0;
}
footer li {
  list-style: none;
  font-family: "Alkatra", cursive !important;
  font-size: 16px;
  text-align: left;
  color: azure;
}
.icon {
  margin: 2.5% 5% 2.5% 8%;
}

.social1 {
  margin-right: 3px;
}
.social2 {
  margin-left: 3px;
}

@media (max-width: 990px) {
  footer li {
    list-style: none;
    font-family: "Alkatra", cursive !important;
    font-size: 12px;
    /* text-align: left; */
    color: azure;
  }
  .icon {
    margin: 2.5% 5% 2.5% 4%;
    height: 25px;
    width: 25px;
  }
  .contact {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .icon {
    margin: 2.7% 11% 2.7% 11%;
    height: 25px;
    width: 25px;
  }
  .contact {
    padding: 20px;
  }
}

@media (max-width: 900px) {
  .copyright {
    font-size: 12px;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
